.account {
	margin-bottom: 100px;
	&__container {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		align-items: center;
	}
	&__title {
		margin-bottom: 100px;
	}
	&__start {
		margin-top: 90px;
		max-width: 373px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		&-text {
			margin: 54px 0;
		}
	}
}

.orders {
	margin-bottom: 100px;
	&__container {
		max-width: 1440px;
		width: 100%;
		margin: 0 auto;
		align-items: center;
		text-align: center;
	}
	&__title {
		margin-bottom: 100px;
	}
}

.account__avatar {
	max-width: 200px;
	max-height: 200px;
	border-radius: 30px;
}
